img {
  margin-top: 0;
  float: left;
}

.searchBar {
  z-index: 0;
  margin-top: 15px;
}

/*  search bar input  */
.searchBar {
  align-items: 0;
}

span {
  color: #ee6e73;
}

.searchHistory {
  color: black;
  background-color: #fff9c4;
}

.favorites {
  background-color: #fff9c4;
  color: black;
}

.displayText {
  background-color: #fff9c4;
  float: right;
}

.material-icons {
  color: black !important;
}

#search {
  color: black !important;
}
.input-field {
  color: black !important;
}

#searchRef {
  color: black !important;
}
